<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Secure Page</h1>
    <h3>Personal Information</h3>

    <% signdata.forEach(sign=> { %>
            <p><%=sign.username%></p>
            <p><%=sign.dateofbirth%></p>
            <p><%=sign.email%></p>
            <p><%=sign.phone%></p>
            
        <% }) %>
    <ul>
        <li><a href="/">Home</a></li>
        
    </ul>
</body>
</html>
